<header class="w-full">
  <nav
    [ngClass]="
      isScrolled
        ? 'bg-default-50/85 backdrop-blur-lg'
        : 'bg-default-50/65 backdrop-blur-md'
    "
    class="border-b border-default-400 shadow-md flex items-center justify-between py-4 md:px-3 xl:px-4 z-50 transition-all duration-300 md:w-[calc(84%)] xl:w-[calc(92%)] gap-x-2 fixed top-0"
  >
    <div class="flex items-center">
      <a routerLink="/" class="flex items-center gap-2 mr-2">
        <div class="w-16 h-16 flex items-center justify-center">
          <img src="logo-light.svg" alt="logo" srcset="logo-light.svg" />
        </div>
        <span class="font-medium text-xl">ZoneVitae</span>
      </a>
    </div>

    <div class="w-full max-w-2xl">
      <app-input
        [fullWidth]="true"
        [placeholder]="'Search'"
        [startContent]="searchIcon"
      ></app-input>
      <ng-template #searchIcon>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-foreground-muted"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </ng-template>
    </div>

    <div class="flex items-center gap-3">
      <app-theme-toggle></app-theme-toggle>

      @if(user) {
      <div class="relative">
        <app-avatar
          [name]="user.user?.nombre_usuario || user.nombre_usuario"
          [size]="'md'"
          [src]="
            user.user?.foto_perfil || user.foto_perfil
              ? user.user?.foto_perfil || user.foto_perfil
              : null
          "
          [alt]="'User Profile Picture'"
          [bordered]="true"
          (click)="toggleUserMenu()"
          class="cursor-pointer"
        >
        </app-avatar>

        @if(showUserMenu) {
        <div
          class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-default-50 ring-1 ring-black ring-opacity-5 divide-y divide-default-100"
        >
          <div class="py-1">
            <a
              routerLink="/profile"
              class="flex items-center px-4 py-2 text-sm hover:bg-default-100"
              (click)="navigateToProfile()"
            >
              <span class="flex-1">Profile</span>
            </a>
            <a
              class="flex items-center px-4 py-2 text-sm hover:bg-default-100 cursor-pointer"
              (click)="logout()"
            >
              <span class="flex-1">Logout</span>
            </a>
          </div>
        </div>
        }
      </div>
      } @else {
      <a
        routerLink="/auth/login"
        class="px-4 py-2 text-md font-medium bg-primary-400 text-default-900 rounded-lg hover:bg-primary-200"
      >
        <i-lucide [img]="userIcon" class="my-icon inline-block"></i-lucide>
        Login </a
      >}
    </div>
  </nav>
</header>
