<div class="h-screen flex bg-background overflow-hidden">
  <!-- Sidebar -->
  <div class="flex-shrink-0 z-50">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main content area with header -->
  <div class="flex flex-col flex-grow overflow-y-auto relative">
    <app-header />
    <main class="flex-1 mx-auto w-full p-4 mt-24 bg-default-50 pb-12 pt-4">
      <section class="grid lg:grid-cols-12 gap-6 px-6">
        <!-- Main content area -->
        <div class="col-span-12">
          <div class="grid grid-cols-12 gap-6">
            <section
              class="col-span-12 bg-default-100 rounded-lg shadow-sm overflow-hidden"
            >
              <!-- highlights -->
              <!-- banner space -->
              <ng-content select="[banner-space]"></ng-content>
            </section>
          </div>
        </div>
        <!--
        Principal content area -->

        <div
          class="flex flex-col w-full col-span-12 md:col-span-8 space-y-6 mt-6"
        >
          <ng-content select="[main-content]"></ng-content>
        </div>

        <!-- Sidebar content -->
        <div class="col-span-12 md:col-span-4 mt-6 md:p-4 md:max-w-xs">
          <div class="sticky top-24 space-y-6">
            <!-- Follow section -->
            <app-follow-section></app-follow-section>

            <!-- Alerts Highlights -->
            <ng-content select="[alerts-highlights]"></ng-content>

            <div class="mt-6">
              <app-footer></app-footer>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
