<div
  [ngClass]="[
    'relative inline-flex items-center justify-center overflow-hidden bg-content3',
    radiusClasses,
    sizeClasses,
    className || '',
    bordered ? 'ring-2 ring-background' : ''
  ]"
  [attr.aria-label]="alt"
>
  @if (src && !showFallback) {
  <img
    [src]="src"
    [alt]="alt"
    class="w-full h-full object-cover"
    (error)="onImageError()"
  />
  } @if ((!src || showFallback) && name) {
  <span class="text-foreground font-medium">
    {{ initials }}
  </span>
  } @if ((!src || showFallback) && !name) {
  <span class="text-foreground">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      class="w-full h-full p-1.5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
      />
    </svg>
  </span>
  } @if (showBadge) {
  <div class="absolute bottom-0 right-0">
    <ng-content></ng-content>
  </div>
  }
</div>
